.container{
    margin: 10px;
    background-color: greenyellow;
    border-style: inset;
    padding: 2%;
    border-color: lime;
}
.foot{
    float: left;
    width: 25%;
    font-family:sans-serif;
    font-size: large;
}